/* Global */
/* animations */
@keyframes test {
  from {
    max-width: 0%;
    max-height: 0%;
  }
  to {
    max-width: 100%;
    max-height: 100%;
  }
}

button {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  border-style: double;
  border-color: white;
  border-width: 0.3rem;
  padding: 0.3rem 0.6rem;
  font-size: 80%;
}
button:hover{
  cursor:pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.app img {
  width: 100%;
  height: auto;
}
/* Header */
.header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-width: 0 0 0.2rem 0;
  height: 3rem;
  position: fixed;
  top: 0;
  padding-top: 1rem;
}
.title {

}
.title h1 {
  margin: 0;
  font-size: 160%;
}
.tabList {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  cursor: pointer;
  margin: 0;
  height: 100%;
}

.tabListItem {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-style: none;
  outline-style: none;
}

.tabListActive {
  background-color:black;
  color: white;
}


/* Body */
.body {
  max-width: 95%;
  margin: 4rem auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Sidebar */
.sidebar {
  width: 15rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 2rem;
}
.sidebarDescription {
}
.profilePhoto {
  border-radius: 100%;
}
/* TabArea Content */
.tabArea {
  border-style: solid;
  border-width: 0 0 0 0.2rem;
  width: 100%;
  padding: 0 1rem 1rem 1.5rem;
}

.tabArea img {
  max-height: 10rem;
  overflow: visible;
  object-fit: cover;
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.portfolioItem {
  margin: 1rem 0 ;
  border-style: solid;
  padding: 0 1rem 1rem 1rem;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactInfo > * {
  margin: 0.5rem 0 ;
}
.contactInfo p {
  margin: 1rem 0 ;
}

.resume {

}
.downloadCV div {
  text-align: center;
}

@media (max-width: 440px) {
  .body {
    flex-direction: column-reverse;
  }
  .title h1 {
    font-size: 100%;
  }
  .tabArea {
    padding: 0;
    border-width: 0;
  }
  .header {
    font-size: 80%;
  }
}