/* Theme colors CSS Variables*/
@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lekton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

:root {
  /* raw colors from theme*/
  /* darkest to lightest */
  --c0: #251e12;
  --c05: #3b2b0d;
  /* --c1: #705219; */
  /* --c2: #705D3A; */
  /* --c3: #BD892A; */
  --c1: #6d2a42;
  --c2: #592136;
  --c3: #003c4a;
  --c4: #f0af36;
  --c5: #f2ca7e;
  --c6: #ffd485;
  --c7: #fff3dc;
  --bg: var(--c7);
  --bg2: var(--c6);
  --accent0: var(--c5);
  --accent1: var(--c4);
  --accent2: var(--c1);
  --text1: black;
  --text2: var(--c0);
  --text3: var(--c05);
  --fontTitle: "Cousine", sans-serif;
  --fontSubtitle: "Lekton", sans-serif;
  --fontBody: "Signika", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--c0);
    --bg2: var(--c05);
    --accent0: var(--c2);
    --accent1: var(--c3);
    --accent2: var(--c4);
    --text1: white;
    --text2: var(--c7);
    --text3: var(--c6);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontBody), Droid Sans Mono, DroidSans, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text1);
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  max-width: 100%;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  background: var(--accent1);
  color: var(--text1);
  font-family: inherit;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

button:hover,
button:focus,
button:active {
  background: var(--accent0);
}

input {
  color: inherit;
  background: var(--bg2);
  border: none;
  font-family: inherit;
  cursor: pointer;
}

select {
  color: inherit;
  background: var(--bg2);
  border: none;
  font-family: inherit;
  cursor: pointer;
}

i {
  font-size: smaller;
  color: var(--text3);
  width: 100%;
  text-align: center;
}

main {
  min-height: 100vh;
  /* padding: 4rem 0 0 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  width: 100%;
  height: 100vh;
}

main > div {
  /* padding: 0 2rem; */
  background: var(--bg);
  width: 100%;
  min-height: 100%;
  height: 100%;
  /* vertical flex */

  /* flex-wrap: wrap; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  main > div {
    padding: 0 1rem;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

[data-contact-footer-add-margin] {
  /* margin-bottom: 20vh; */
  padding-bottom: 20vh;
}
