/* Theme colors CSS Variables*/
@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lekton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

:root {
  /* raw colors from theme*/
  /* darkest to lightest */
  --c0: #251e12;
  --c05: #3b2b0d;
  /* --c1: #705219; */
  /* --c2: #705D3A; */
  /* --c3: #BD892A; */
  --c1: #6d2a42;

  --c2: #592136;
  --c3: #003c4a;

  --c4: #f0af36;

  --c5: #f2ca7e;
  --c6: #ffd485;
  --c7: #fff3dc;
  --c8: #94d0de;
  --c9: #83c8d7;

  --dark-bg-1: rgb(38, 38, 38);
  --dark-bg-2: rgb(50, 50, 50);
  --dark-bg-3: rgb(62, 62, 62);
  --light-bg-1: rgb(255, 246, 230);
  --light-bg-2: rgb(161, 161, 161);
  --light-bg-3: rgb(211, 211, 211);
  --dark-gradient: linear-gradient(
    63deg,
    rgba(44, 41, 58, 1) 7%,
    rgba(44, 44, 44, 1) 38%,
    rgba(80, 72, 67, 1) 91%
  );

  /* linear-gradient(233deg, #251e12, #554120, #552134, #251e12); */
  /* --light-gradient: linear-gradient(233deg, #fff3dc, #ffd485, #eca9c1, #f0af36); */
  --light-gradient: linear-gradient(233deg, #ffffff, #fce8c3, #fed7d7, #ffe4b1);

  --gradient: var(--light-gradient);
  --bg-t-1: var(--light-bg-1);
  --bg-t-2: var(--light-bg-2);
  --bg-t-3: var(--light-bg-3);
  --bg: var(--c7);
  --bg2: var(--c6);
  --accent0: var(--c8);
  --accent1: var(--c9);
  --accent2: var(--c1);
  --text1: black;
  --text1-opposite: white;
  --text2: var(--c0);
  --text3: var(--c05);
  --fontTitle: "Cousine", sans-serif;
  --fontSubtitle: "Lekton", sans-serif;
  --fontBody: "Signika", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gradient: var(--dark-gradient);
    --bg-t-1: var(--dark-bg-1);
    --bg-t-2: var(--dark-bg-2);
    --bg: var(--c0);
    --bg2: var(--c05);
    --accent0: var(--c2);
    --accent1: var(--c3);
    --accent2: var(--c4);
    --text1: white;
    --text1-opposite: black;
    --text2: var(--c7);
    --text3: var(--c6);
  }
}
body {
  overscroll-behavior: none;
  /* or for just vertical overscroll */
  overscroll-behavior-y: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontBody), Droid Sans Mono, DroidSans, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text1);
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  max-width: 100%;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  background: var(--accent1);
  color: var(--text1);
  font-family: inherit;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

button:hover,
button:focus,
button:active {
  background: var(--accent0);
}

input {
  color: inherit;
  background: var(--bg2);
  border: none;
  font-family: inherit;
  cursor: pointer;
}

select {
  color: inherit;
  background: var(--bg2);
  border: none;
  font-family: inherit;
  cursor: pointer;
}

i {
  font-size: smaller;
  color: var(--text3);
  width: 100%;
  text-align: center;
}

main {
  min-height: 100vh;
  /* padding: 4rem 0 0 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background: var(--bg); */
  width: 100%;
  height: 100%;
  background: var(--gradient);

  /* background-size: 800% 800%; */

  /* -webkit-animation: bg-animation 20s ease infinite; */
  /* -moz-animation: bg-animation 20s ease infinite; */
  /* animation: bg-animation 20s ease infinite; */
}

main > div {
  width: 100%;
  min-height: 100%;
  height: 100%;
  /* vertical flex */

  /* flex-wrap: wrap; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@-moz-keyframes bg-animation {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@keyframes bg-animation {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@media screen and (max-width: 768px) {
  main > div {
    padding: 0 1rem;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

[data-contact-footer-add-margin] {
  /* margin-bottom: 20vh; */
  padding-bottom: 20vh;
}
