.page {
  flex-wrap: wrap;

}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: min(4rem, 15vw);
  width: 100%;
  text-align: center;
  font-family: var(--fontTitle);
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-family: var(--fontSubtitle);
}

.content {
  width: 100%;
  text-align: center;
  /* horizontal flex for large screens */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .content {
    /* vertical flex for small screens */
    flex-direction: column;
  }

  .page {
    min-height: unset;
    height: unset;
  }
}

.button {
  /* width: 70%; */

  font-size: larger;
}

/* Showcase Card */
.showcaseCard {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--text2);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  cursor: pointer;
  /* height: 300px; */
  overflow: hidden;
}


.showcaseCard:hover,
.showcaseCard:focus,
.showcaseCard:active {
  color: var(--accent2);
  border-color: var(--accent2);
}

.showcaseCardTitle {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: var(--fontSubtitle);
}

.showcaseCardImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 200px;
  /* max-height: 200px; */
}

/* Contact Footer */

.contactFooter,
.contactFooterFlash {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--text2);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-height: 20vh;
  height: 20vh;
  position: fixed;
  bottom: 0;
  background: var(--bg2);
  min-height: unset;
}

.contactFooterFlash {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

@media screen and (min-width: 1000px) {

  .contactFooter,
  .contactFooterFlash {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {

  .contactFooter,
  .contactFooterFlash {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .contactFooter p,
  .contactFooterFlash p {
    margin: 0;
    margin-bottom: 0.3rem;
  }

  .contactFooter h2,
  .contactFooterFlash h2 {
    margin: 0;
    margin-bottom: 0.3rem;
  }
}


.contactFooterTitle {
  font-size: 1.5rem;
  font-family: var(--fontSubtitle);
}

.contactFooterEmail {
  cursor: pointer;
}

.contactFooterEmail:hover,
.contactFooterEmail:focus,
.contactFooterEmail:active {
  color: var(--accent2);
}

.contactFooterSocialIcon {
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--text3);
  fill: var(--text3);
}

.contactFooterSocialIcon:hover,
.contactFooterSocialIcon:focus,
.contactFooterSocialIcon:active {
  color: var(--accent2);
  fill: var(--accent2);
}

.topBar {
  /* horizontal flex */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: var(--accent0);
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  z-index: 100;
}

.topBar h1 {
  font-size: 2rem;
  font-family: var(--fontTitle);
  color: var(--text1);
  margin: 0;
  margin-left: 2rem;

  cursor: pointer;
  width: 100%;
}

.topBarButton {
  cursor: pointer;
  border: none;
  color: var(--text1);
  font-family: inherit;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 30%;
}

.topBarButton:hover,
.topBarButton:focus,
.topBarButton:active {
  color: var(--accent2);
}

@media screen and (max-width: 700px) {
  .topBar h1 {
    font-size: 7vw;
  }

  .topBar h2 {
    font-size: 4vw;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2022-8-23 9:25:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}