.main{
    min-height: 100vh;
    padding: 4rem 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    width: 100%;
    height: 100%;
}

.container {
    padding: 0 2rem;
    background: var(--bg);
    width: 100%;
    height: 100%;
    /* vertical flex */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    font-family: var(--fontTitle);
}

.subtitle {
    text-align: center;
    font-family: var(--fontSubtitle);
    color: var(--text2);
}

.labelInputPair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;
}
.inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
}

.buttonSamplePair {
    /* horiz flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
}
.buttonSamplePair button {
    font-size: larger;
}
.listSample {
    color: var(--text3);
    /* min-width: 100%; */
    /* text-align: right; */
    margin-left: 0.5rem;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.table {
    margin: 1rem;
    max-width: 800px;
    text-align: center;
}

.table td {
    color: var(--text2);
}
.table th {
    /* color: var(--text2); */
    padding: 0 0.5rem;
}

.chartContainer {
    width: 90%;
    max-width: 800px;
    height: 100%;
}

.largeSelect {
    font-size: larger;
}